--extra-index-url https://download.pytorch.org/whl/cu113
torch
numpy
dgl-cu113
# open_clip_torch
diffusers
accelerate
datasets
transformers
einops
torch.redstone
objaverse
altair<5
trimesh
matplotlib
plotly
