--extra-index-url https://download.pytorch.org/whl/cu113
torch
-f https://data.dgl.ai/wheels/repo.html
dgl-cu113
numpy
# open_clip_torch
diffusers
accelerate
datasets
transformers==4.30.1
einops
torch.redstone
objaverse
altair<5
trimesh
matplotlib
plotly
